{% extends 'base.html' %} 
{% block content %}

<div class="container">
    <div class="row my-5">
        {% for train in sorted_trains_data %}
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="card  border-0 shadow">
                <div class="card-header bg-primary border-0">
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                      <div class="d-inline-flex justify-content-center w-100">
                          <i class="fas fa-train mr-2"></i>
                          <div>
                              &nbsp;&nbsp;&nbsp;{{ train['trainName'] }}
                          </div>
                      </div>
                  </h5>
                  <p class="card-text">
                      <div class="d-inline-flex justify-content-center align-items-center">
                          <i class="fas fa-hashtag"></i>&nbsp;<span class="fw-bold" >Train Number : </span> &nbsp;{{ train['trainNumber'] }}
                      </div>
                  </p>
                  <p class="card-text">
                      <div class="d-inline-flex justify-content-center align-items-center">
                          <i class="far fa-clock"></i>&nbsp;<span class="fw-bold">Departure Time : </span>&nbsp; {{ train['departureTime']['Hours'] }}:{{ train['departureTime']['Minutes'] }}:{{ train['departureTime']['Seconds'] }}
                      </div>
                  </p>
                  <p class="card-text">
                      <div class="d-inline-flex justify-content-center  align-items-center">
                          <i class="fas fa-chair"></i>&nbsp;<span class="fw-bold">Seats Available : </span>
                          &nbsp;
                          Sleeper : {{ train['seatsAvailable']['sleeper'] }},
                          AC : {{ train['seatsAvailable']['AC'] }}
                      </div>
                  </p>
                  <p class="card-text">
                      <div class="d-inline-flex justify-content-center align-items-center">
                          <i class="fas fa-dollar-sign"></i>&nbsp;<span class="fw-bold">Price :</span>&nbsp; sleeper - &nbsp;{{ train['price']['sleeper'] }}, AC - &nbsp;{{ train['price']['AC'] }}
                      </div>
                  </p>
                  <p class="card-text">
                      <div class="d-inline-flex justify-content-center align-items-center">
                          <i class="fas fa-stopwatch"></i>&nbsp;<span class="fw-bold">Delayed By : </span>&nbsp; {{ train['delayedBy'] }} minutes
                      </div>
                  </p>
                </div>
              </div>
          </div>     
{% endfor %}
</div>
</div>
{% endblock%}